.heroAnswer{
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.heroImg{
    display: block;
    width: 75px;
    height: auto;
}
.heroName{
    color: rgb(80, 4, 80);
    font-size: 25px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.heroText{
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heroTextArea{
    background-color: purple;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
    text-align: left; 
}
.userAnswer {
    display: flex;
    justify-content: flex-end; 
}

.userTextArea {
    background-color: rgb(255, 81, 0);
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: right;
}
.userMessage{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       padding: 10px;
       font-size: 20px;
       color: white;
}
.userName{
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}